<template>
  <div>
      <div class="cart-cont">
          <div class="container">
              <h1>Cart</h1>
              <div class="empty" v-if="!this.getCartProduct.length">
                  <h2>Cart is empty</h2>
              </div>
              <button
               class="DeleteAll"
               v-if="this.getCartProduct.length > 1"
               @click="deleteAll"
               >Delete All</button>
              <div class="cart-header" v-if="this.getCartProduct.length">
                  <ul>
                      <li><span>Image</span></li>
                      <li><span>Name</span></li>
                      <li><span>Price</span></li>
                      <li><span>Count</span></li>
                      <li><span></span></li>
                  </ul>
              </div>
              <div class="cart-wrap">
                  <div
                    class="item"
                    v-for="(item, index) of getCartProduct"
                    :key="index"
                    >
                      <div class="img">
                          <img :src="item.img">
                      </div>
                      <div class="name"><span>{{item.name}}</span></div>
                      <div class="price">{{item.price}}</div>
                      <div class="counter">
                          <span
                          class="countChange"
                          @click="updateCount (item.id, item.count += 1)"
                          >+</span>
                          <input
                          type="number"
                          min="1"
                          v-model="item.count"
                          @keydown="updateCount (item.id, item.count)"
                          >
                          <span
                          class="countChange"
                          v-if="item.count > 1"
                          @click="updateCount (item.id, item.count -= 1)
                          ">-</span>
                          <span
                          class="countChange"
                          v-else
                          >-</span>
                      </div>
                      <div class="delete">
                          <button @click="deleteProduct (item.id)">Delete</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
<script>
export default{
  data () {
    return {
      empty: false
    }
  },
  computed: {
    getCartProduct () {
      return this.$store.getters.getCartProduct
    }
  },
  methods: {
    updateCount (id, count) {
      const item = {
        id: id,
        count: parseInt(count)
      }
      this.$store.dispatch('updateCount', item)
    },
    deleteProduct (id) {
      this.$store.dispatch('deleteProduct', id)
    },
    deleteAll () {
      this.$store.dispatch('deleteAll')
    }
  }
}
</script>
<style scoped>
    .cart-cont{
        background-color: #47a2ff;
        min-height: calc(100vh - 67px);
        padding-bottom: 80px;
    }
    .cart-wrap{
        -webkit-box-shadow: 0px 0px 53px -1px rgba(77,77,77,0.63);
        -moz-box-shadow: 0px 0px 53px -1px rgba(77,77,77,0.63);
        box-shadow: 0px 0px 53px -1px rgba(77,77,77,0.63);
        clear: both;
        overflow: hidden;
    }
    .cart-header{
        clear: both;
    }
    .item,
    .cart-header ul{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #212121;
        height: 80px;
        background: #fff;
    }
    .cart-header ul{
        height: 40px;
    }
    img{
        max-height: 100%;
        max-width: 60px;
    }
    .item div,
    li{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #212121;
        padding: 10px;
    }
    .item div:first-child,
    li:first-child{
        border: none;
        width: 80px !important;
        flex: inherit;
    }
    .empty{
        margin-top: 40px;
    }
    .empty h2{
        font-size: 30px;
        color: #fff;
        font-weight: 400;
        text-align: center;
    }
    .DeleteAll{
        padding: 10px 20px;
        float: right;
        margin-bottom: 20px;
    }
    input[type="number"]{
        width: 50px;
        height: 35px;
        text-align: center;
        border-color: #212121;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .countChange{
        display: inline-block;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #00897b;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
        margin: 0 5px;
        transition: .3s;
    }
    .countChange:hover{
        background-color: #00897b;
        color: #fff;
    }
    @media (max-width: 800px){
        .cart-header{
            display: none;
        }
        .cart-wrap{
            box-shadow: none;
        }
        .item{
            display: block;
            height: auto;
            margin-bottom: 20px;
            -webkit-box-shadow: 0px 0px 53px -1px rgba(77,77,77,0.63);
            -moz-box-shadow: 0px 0px 53px -1px rgba(77,77,77,0.63);
            box-shadow: 0px 0px 53px -1px rgba(77,77,77,0.63);
        }
        .item div,
        .item div:first-child{
            width: auto !important;
            border-left: none;
            height: 80px;
            border-bottom: 1px solid #212121 !important;
            padding-left: 35%;
            position: relative;
        }
        .item div:before{
            content: "";
            height: 100%;
            width: 35%;
            position: absolute;
            left: 0;
            top: 0;
            border-right: 1px solid #212121 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
        }
        .item div:first-child:before{
            content: "Image"
        }
        .item div:nth-child(2):before{
            content: "Name"
        }
        .item div:nth-child(3):before{
            content: "Price"
        }
        .item div:nth-child(4):before{
            content: "Count"
        }
    }
</style>
