<template>
    <div class="product_cont">
        <div class="container">
            <h1>Products List</h1>
            <div class="wrap">
                <div
                class="item"
                v-for="(item, index) of getProduct"
                :key="index"
                >
                    <div class="img-wrap">
                        <img :src="item.img">
                    </div>
                    <span class="name"><span>Name: </span>{{ item.name }}</span>
                    <span class="price"><span>Price: </span>{{ item.price }}$</span>
                    <button @click="addProd(item)">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
export default{

    computed: {
        getProduct () {
            return this.$store.getters.getProduct;
        }
    },
    methods: {
        addProd (item) {
            const ad = {
                name: item.name,
                img: item.img,
                price: item.price,
                date: new Date().getTime(),
                count: 1
            }
           // console.log(this.$store.dispatch('addProd', ad))
            this.$store.dispatch('addProd', ad)
        }
    }
}

</script>

<style scoped>
    .product_cont{
        min-height: calc(100vh - 67px);
        background-color: #47a2ff;
    }
    .wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: calc(100% + 20px);
    }
    .item{
        flex-basis: calc(25% - 20px);
        margin-right: 20px;
        background-color: #fff;
        border-radius: 7px;
        padding: 15px 20px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 0px 53px -1px rgba(77,77,77,0.63);
        -moz-box-shadow: 0px 0px 53px -1px rgba(77,77,77,0.63);
        box-shadow: 0px 0px 53px -1px rgba(77,77,77,0.63);
        transition: .3s ease;
        cursor: pointer;
        position: relative;
    }
    .item:hover{
        -webkit-box-shadow: 0px 0px 53px 10px rgba(77,77,77,0.63);
        -moz-box-shadow: 0px 0px 53px 10px rgba(77,77,77,0.63);
        box-shadow: 0px 0px 53px 10px rgba(77,77,77,0.63);
    }
    .img-wrap{
        height: 237px;
        text-align: center;
    }
    img{
        height: 100%;
        max-width: 100%;
    }
    .name{
        font-size: 22px;
        display: block;
        margin-bottom: 5px;
    }
    .price{
        font-size: 22px;

    }
    button{
        position: absolute;
        right: 15px;
        bottom: 20px;
    }
    @media (max-width: 1100px){
        .item{
            flex-basis: calc(100% / 3 - 20px)
        }
    }
    @media (max-width: 870px){
        .item{
            flex-basis: calc(50% - 20px)
        }
    }
    @media (max-width: 620px){
        .item{
            flex-basis: calc(100% - 20px);
            max-width: 360px;
        }
        .wrap{
            justify-content: center;
        }
    }
</style>
