<template>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><router-link to="/">Home</router-link></li>
                    <li><router-link to="cart">Cart<span>{{ shopCount }}</span></router-link></li>
                </ul>
            </nav>
        </div>
    </header>
</template>
<script>
export default {
  computed: {
    shopCount () {
      const arr = this.$store.getters.getCartProduct

      var total = 0

      arr.forEach((value) => {
        const val = parseInt(value.count)
        return (total += val)
      })
      return total
    }
  }
}
</script>
<style scoped>
    header{
        background-color: #212121;
        padding: 20px 0;
    }
    ul{
        text-align: right;
    }
    li{
        display: inline-block;
        margin-left: 30px;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-size: 22px;
        border-bottom: 2px solid transparent;
        transition: .3s;
        position: relative;
    }
    a.router-link-exact-active,
    a:hover{
        color: #00897b;
        text-decoration: none;
        border-color: inherit;
    }
    span{
        display: inline-block;
        align-items: center;
        justify-content: center;
        position: absolute;
        color: #fff;
        background: #00897b;
        border-radius: 50%;
        top: -13px;
        width: 25px;
        height: 23px;
        line-height: 24px;
        font-size: 14px;
        text-align: center;
    }
</style>
