<template>
    <div class="wrap">
        <div class="total-price">
            <span>Total price: </span>
            <span class="total">{{totalPrice}}$</span>
        </div>
    </div>
</template>
<script>
export default{
  computed: {
    totalPrice () {
      const arr = this.$store.getters.getCartProduct

      var total = 0

      arr.forEach((value) => {
        return (total += (value.price * value.count))
      })
      return total
    }
  }
}
</script>
<style scoped>
    .wrap{
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: #212121;
        padding: 20px;
    }
    span{
        font-size: 20px;
        color: #fff;
    }
    .total{
        color: #00897b;
    }
</style>
