<template>
  <div>
    <Menu></Menu>
    <router-view></router-view>
    <Total></Total>
  </div>
</template>

<script>

import Menu from '@/components/Menu'

import Total from '@/components/TotalPrice'

export default {
  components: {
    Menu,
    Total
  }
}

</script>

  <style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
  *{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 16px;
  }
  body{
    position: relative;
  }
  .container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 40px;
  }
  button{
    background-color: #00897b;
    color: #fff;
    border: 2px solid #00897b;
    border-radius: 6px;
    padding: 7px;
    cursor: pointer;
    transition: .3s;
    font-size: 16px;
  }
  button:hover{
      background-color: #fff;
      color: #00897b;
  }
  h1{
    font-size: 56px;
    text-align: center;
    color: #fff;
    padding: 40px 0;
  }
</style>
